[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.3.6"
langchain-text-splitters = "*"
langchain-community = "*"
langchain-experimental = "==0.3.2"
langchain-pinecone = "*"
langchain-openai = "*"
langchain-core = "*"
langchainhub = "*"
langsmith = "*"
langgraph = "*"
google-search-results = "*"
beautifulsoup4 = "*"
streamlit-chat = "*"
python-dotenv = "*"
firecrawl-py = "*"
faiss-cpu = "*"
streamlit = "*"
requests = "*"
altair = "<5"
pinecone = "*"
tabulate = "*"
openai = "*"
qrcode = "*"
pandas = "*"
pypdf = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
